<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Dashboard</title>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Job.css">
    <script src="~/Scripts/job.js"></script>
</head>
<body>
    <header class="header">
        <textarea></textarea>
        <button class="button">🔍 SEARCH</button>
        <button class="button cancel">❌ CANCEL</button>
        <button class="button">🔄 REFRESH</button>
        <a href="@Url.Action("GoToHome", "Job")" class="button home">🏠</a>
    </header>

    <content>
        <div class="button-container">
            <button onclick="showFields('hbl')">HBL</button>
            <button onclick="showFields('mbl')">MBL</button>
        </div>


        <div id="hbl-fields" class="job-fields">
            <fieldset class="border p-3">
                <legend class="w-auto">HBL Form</legend>
                <div class="row g-3">
                    <div class="col-md-2">
                        <label for="job_id" class="form-label">JOB ID*</label>
                        <input type="text" id="job_id" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="job_date" class="form-label">JOB DATE</label>
                        <input type="date" id="job_date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="vessel_name" class="form-label">VESSEL/VOL NAME</label>
                        <input type="text" id="vessel_name" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="mode" class="form-label">MODE</label>
                        <select id="mode" class="form-select">
                            <option>Sea</option>
                            <option>Air</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="job_lock_day" class="form-label">JOB LOCK DAY</label>
                        <input type="date" id="job_lock_day" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="goods_type" class="form-label">GOODS TYPE</label>
                        <input type="text" id="goods_type" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="mbl" class="form-label">MBL</label>
                        <input type="text" id="mbl" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="etd" class="form-label">ETD*</label>
                        <input type="date" id="etd" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="eta" class="form-label">ETA*</label>
                        <input type="date" id="eta" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="unlock" class="form-label">UNLOCK</label>
                        <input type="text" id="unlock" class="form-control">
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="mbl-fields" class="job-fields">
            <textarea>Job Id 2</textarea>
            <textarea>Job Date 2</textarea>
            <textarea>Good Type 2</textarea>
        </div>
    </content>

    <footer>
    </footer>
</body>
</html>
